<h1>Add LandMark</h1>

@using (Html.BeginForm("InsertLandMarks", "ManageLandmarks", FormMethod.Post,
                          new { enctype = "multipart/form-data" }))
{
    <label for="picturepath">Upload Image:</label>
    <input type="file"  accept=".gif,.jpg,.jpeg,.png,.bmp" name="picturepath" id="picturepath" style="width: 100%;" />
    <div class="mb-3">
        <label for="InputName" class="form-label">Name</label>
        <input type="text" class="form-control" id="InputName" name="name" aria-describedby="NameHelp">
    </div>
    <div class="mb-3">
        <label for="InputArea" class="form-label">Area</label>
        <input type="text" class="form-control" name="area" id="InputArea">
    </div>
    <div class="mb-3">
        <label for="InputDescription" class="form-label">Description</label>
        <input type="text" class="form-control" name="description" id="InputDescription">
    </div>
    <div class="mb-3">
        <label for="InputLatitude" class="form-label">Latitude</label>
        <input type="number" class="form-control" name="latitude" id="InputLatitude">
    </div>
    <div class="mb-3">
        <label for="InputLongtitude" class="form-label">Longtitude</label>
        <input type="number" class="form-control" name="longtitude" id="InputLongtitude">
    </div>
    <div class="mb-3">
        <label for="InputAttendance" class="form-label">Attendance</label>
        <input type="number" class="form-control" name="attendance" id="InputAttendance">
    </div>
    <div class="mb-3">
        <label for="InputAccesability" class="form-label">Accesability</label>
        <input type="text" class="form-control" name="accesability" id="InputAccesability">
    </div>
    <div class="mb-3">
        <label for="InputHistory" class="form-label">History</label>
        <input type="text" class="form-control" name="history" id="InputHistory">
    </div>
    <div class="mb-3">
        <label for="InputType" class="form-label">Type</label>
        <input type="text" class="form-control" name="type" id="InputType">
    </div>
    <div class="mb-3">
        <label for="InputTerrainID" class="form-label">TerrainID</label>
        <input type="number" class="form-control" name="terrainid" id="InputTerrainID">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>

}

