<h1>Add Landmark</h1>

@using (Html.BeginForm("InsertLandMarks", "ManageLandmarks", FormMethod.Post,
                          new { enctype = "multipart/form-data", @class="form"}))
{
    <label for="picturepath">Upload Image:</label>
    <input type="file"  accept=".gif,.jpg,.jpeg,.png,.bmp" name="picturepath" id="picturepath" style="width: 100%;" />
    <div class="mb-3">
        <label for="InputName" class="form-label">Name</label>
        <input type="text" class="form-control" id="InputName" name="name" aria-describedby="NameHelp">
    </div>
    <div class="mb-3">
        <label for="InputArea" class="form-label">Area</label>
        <input type="text" class="form-control" name="area" id="InputArea">
    </div>
    <div class="mb-3">
        <label for="InputDescription" class="form-label">Description</label>
        <input type="text" class="form-control" name="description" id="InputDescription">
    </div>
    <div class="mb-3">
        <label for="InputLatitude" class="form-label">Latitude</label>
        <input type="number" class="form-control" name="latitude" id="InputLatitude">
    </div>
    <div class="mb-3">
        <label for="InputLongtitude" class="form-label">Longtitude</label>
        <input type="number" class="form-control" name="longtitude" id="InputLongtitude">
    </div>
    <div class="mb-3">
        <label for="InputAttendance" class="form-label">Attendance</label>
        <input type="number" class="form-control" name="attendance" id="InputAttendance">
    </div>
    <div class="mb-3">
        <label for="InputAccesability" class="form-label">Accesability</label>
        <input type="text" class="form-control" name="accesability" id="InputAccesability">
    </div>
    <div class="mb-3">
        <label for="InputHistory" class="form-label">History</label>
        <input type="text" class="form-control" name="history" id="InputHistory">
    </div>
    <div class="mb-3">
        <label for="InputType" class="form-label">Type</label>
        <input type="text" class="form-control" name="type" id="InputType">
    </div>
    <div class="mb-3">
        <label for="InputTerrainID" class="form-label">TerrainID</label>
        <input type="number" class="form-control" name="terrainid" id="InputTerrainID">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
}

<style>

    .pb-3 {
        top: 50%;
        left: 50%;
        box-sizing: border-box;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
        border: none;
        outline: none;
        background: #383d41;
        display: inline-block;
        padding: 10px 20px;
        color: #03e9f4;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: .5s;
        letter-spacing: 4px;
        border-radius: 5px;
        box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
    }
    h1 {
        padding: 0;
        color: #fff;
        text-align: center;
    }
    .form-label {
        top: 0;
        left: 0;
        padding: 5px 0;
        font-size: 16px;
        color: #fff;
        pointer-events: none;
        transition: .5s;
    }
    .btn-primary {
        margin-top: 10px;
    }
</style>