@model LandmarkDAL.Models.Users.Users

@{
    ViewData["Title"] = "Register";
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AdditionalCss{
    <link href="@Url.Content("~/css/form.css")" rel="stylesheet" type="text/css" />
}


<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box">
            <div class="col-lg-12 login-key">
                <i class="fa fa-key" aria-hidden="true"></i>
            </div>
            <div class="col-lg-12 login-title">
                Register
            </div>

            <div class="col-lg-12 login-form">
                <div class="col-lg-12 login-form">
                    @using (Html.BeginForm("Register", "Account"))
                    {
                        <div class="form-group">
                            <input type="text" placeholder="Enter Username" name="Username" required>
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="E-Mail" name="Email" required>
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Enter Password" name="Password" required>
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Confirm password" name="ConfirmPassword" required>
                        </div>
                        <div class="col-lg-12 loginbttm">
                            <div class="col-12 register-btm register-button">
                                <input type="submit" class="btn btn-outline-primary" value="Register" />
                            </div>
                        </div>
                    }

                </div>
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>
    </div>
</div>

